
.icon-user:before { content: '\e800'; } /* '' */
.icon-ok-circle:before { content: '\e801'; } /* '' */
.icon-cancel-circled:before { content: '\e802'; } /* '' */
.icon-star-empty:before { content: '\e803'; } /* '' */
.icon-star-circled:before { content: '\e804'; } /* '' */
